{% import '_includes/forms' as forms %}
{% from 'critter/macros' import configWarning, configGroupWarning %}

{{ forms.selectField({
    label: "Generator"|t(pluginHandle),
    instructions: "Select the generator to use for critical CSS generation"|t(pluginHandle),
    warning: (config.generatorType is defined ? configWarning('generatorType')),
    name: 'settings[generatorType]',
    options: generatorTypeOptions,
    value: settings.generatorType,
    toggle: true,
}) }}

{% for generator in generators %}
    {% set generatorClassName = className(generator) %}
    {% set isCurrent = (generatorClassName == settings.generatorType) %}

    <div id="{{ generatorClassName|id }}" {{ not isCurrent ? 'class="hidden"' }}>
        {% namespace 'generatorSettings[' ~ generatorClassName ~ ']' %}
            {{ generator.getSettingsHtml()|raw }}
        {% endnamespace %}
    </div>
{% endfor %}
