{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Critter' %}
{% set pluginHandle = 'critter' %}

{% set selectedTab = selectedTab ?? 'general' %}

{% block sidebar %}

    {% set navItems = [
        {
            label: 'General',
            handle: 'general',
            url: url("#{pluginHandle}/settings/general"),
        },
        {
            label: 'Sections',
            handle: 'sections',
            url: url("#{pluginHandle}/settings/sections"),
        }
    ] %}

    <nav>
        <ul>
            {% for navItem in navItems %}
                <li>
                    <a href="{{ navItem.url }}" {% if selectedTab == navItem.handle %}class="sel"{% endif %}>
                        {{ navItem.label|t(pluginHandle) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% if craft.critter.isBeta and currentUser.admin and craft.app.config.general.devMode %}
    {% set footer %}
        {# Beta status automatically detected from plugin version (dev-, beta, alpha, rc patterns) #}
        <p>This version of Critter is in beta. Please raise any issues on the <a href="https://github.com/tallowandsons/craft-critter/issues" target="_blank">GitHub repository</a>.</p>
    {% endset %}
{% endif %}
